In [1]:
import pandas as pd
import numpy as np

Untuk data training model bert sebagai classifier sentiment dari sebuah aspek, data review tokopedia yang sudah dilabel akan diubah menjadi berikut:
- Review (text)
- Aspek (text {'pelayanan', 'pengiriman', 'barang'})
- Sentimen (0: negatif, 1: netral, 2:positif)

In [3]:
df = pd.read_csv('tokopedia_review - tokopedia_review.csv')
df.head()

,review,rating,pelayanan,pengiriman,barang,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,admin slow respon banget.. pengiriman lama ban...,1,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,"Pelayanan penjual kurang, Pengiriman lama",1,0.0,0.0,NaN,NaN,review,aspect,sentimen
2,tv rusak ya kedip ya,1,NaN,NaN,0.0,NaN,admin slow respon banget.. pengiriman lama ban...,pelayanan,0
3,"jijik banget pelayanan disini, dari awal chatt...",1,0.0,0.0,NaN,NaN,admin slow respon banget.. pengiriman lama ban...,pengiriman,0
4,terlalu lama pengirimannya hampir 1 bulan,1,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [11]:
df.shape

(5466, 5)

In [9]:
df = df.drop(list(df.columns[5:]), axis=1)
df.head()

,review,rating,pelayanan,pengiriman,barang
0,admin slow respon banget.. pengiriman lama ban...,1,0.0,0.0,NaN
1,"Pelayanan penjual kurang, Pengiriman lama",1,0.0,0.0,NaN
2,tv rusak ya kedip ya,1,NaN,NaN,0.0
3,"jijik banget pelayanan disini, dari awal chatt...",1,0.0,0.0,NaN
4,terlalu lama pengirimannya hampir 1 bulan,1,NaN,0.0,NaN

In [13]:
unpivot = pd.melt(df, id_vars=['review', 'rating'], value_vars=['pelayanan', 'pengiriman', 'barang'])
unpivot

,review,rating,variable,value
0,admin slow respon banget.. pengiriman lama ban...,1,pelayanan,0.0
1,"Pelayanan penjual kurang, Pengiriman lama",1,pelayanan,0.0
2,tv rusak ya kedip ya,1,pelayanan,NaN
3,"jijik banget pelayanan disini, dari awal chatt...",1,pelayanan,0.0
4,terlalu lama pengirimannya hampir 1 bulan,1,pelayanan,NaN
...,...,...,...,...
16393,layanan cepat...walaupun barang kualitas sesua...,5,barang,NaN
16394,sesuai pesanan,5,barang,NaN
16395,"lancar jaya , koneksi ke laptop lancar. murah ...",5,barang,NaN
16396,Barang mantap pengepakn sangat rapih barang or...,5,barang,NaN
16397,ok,5,barang,NaN

In [15]:
dropped = unpivot.dropna(axis=0, how='any')
print(dropped.shape)
dropped

(5764, 4)

,review,rating,variable,value
0,admin slow respon banget.. pengiriman lama ban...,1,pelayanan,0.0
1,"Pelayanan penjual kurang, Pengiriman lama",1,pelayanan,0.0
3,"jijik banget pelayanan disini, dari awal chatt...",1,pelayanan,0.0
5,"Pelayanan penjual kurang, Pengiriman lama",1,pelayanan,0.0
6,"Pelayanan penjual kurang, Pengiriman lama",1,pelayanan,0.0
...,...,...,...,...
14553,sesuai deskripsi,5,barang,2.0
14554,bagus... barang sesuai dengan deskripsi.,5,barang,2.0
14555,Murah meriah...berkualitas..,5,barang,2.0
14556,depan pintu kamar mandi kering. menyerap bange...,5,barang,2.0
14557,Kualitas barang bermasalah,1,barang,0.0

In [16]:
dropped.to_csv('out.csv', index=False)